@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }

  html,
  body {
    @apply min-h-screen;
  }
}